
article {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .2)
}

article img {
  padding-top: 5px;
  border-radius: 50%;
  transition: 40ms;
}

article p {
  padding-left: 20px;
  text-align: left;
}

article p {
  font-weight: bold;
  font-size: 1.2rem;
}

article div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-media {
  height: 30px;
  border-radius: 30%;
}