section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  padding: 25px;
}

section article {
  overflow: hidden;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .2)
}

section article:hover {

}

section article img {
  max-width: 100%;
  padding-top: 5px;
  border-radius: 50%;
}

section article p:nth-child(2) {
  font-weight: bold;
  font-size: 1.2rem;
}